html{
    margin: 0;
    background: grey;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
    
}

input, select{
      display: block;
      margin: 0 auto;
      background-color: #fff;
      border: 3px solid blue;
      padding: 10px 20px;
      font-size: 20px;

      transition: .3s;
}
input:hover {
background-color: #000;
color: blue;
    }
table{
      display: block;
      margin: 0 auto;
      background-color: blue;
      font-size: 20px;
}